
body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('./images/christmas wallpaper desktop.jpg') center/cover no-repeat;
  filter: brightness(0.9);
  z-index: -1;
}





body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: url('./images/christmas wallpaper desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y:49px ;
}

.title-btn {
  display: inline-block;          
  background: #a61b1b;
  color: white;
  font-weight: 600;
  font-size: 22px;
  padding: 12px 40px;
 
  text-decoration: none;
 
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  transition: 0.2s;
    display: flex;
        justify-content: center; 
               align-items: center;    
            


}

/* Make it hover nicely */
.title-btn:hover {
  background: #8b1515;

}

.container {
  max-width: 500px;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0); 
  padding: 40px 30px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.161);
  text-align: center;
 
}

label {
  font-weight: 600;
  font-size: 16px;
  display: block;
  margin-bottom: 6px;
  color: #4b2e2e;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0 20px 0;
  border: 2px #fffdfd;    
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  background: #fffdfd;
}

.submit-btn {
  background: #0c5728;
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}
.submit-btn:hover {
  background: #0a4520;
  transform: scale(1.04);
}
img{
    border-radius: 10px;
}
img:hover{
  background: #0a4520;
  transform: scale(1.02);

}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}